<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>Document</title>


</head>
<body>
    <ul class="navbar__list">
        <li class="navbar"><a href="who-are-we.html">Home</a></li>
        <li class="navbar"><a href="our-work.html">News</a></li>
        <li class="navbar"><a href="contact.html">Contact</a></li>
        <li class="navbar"><a href="careers.html">About</a></li>
    </ul>

    <div class="wedo__title">Wedo</div>
        <div class="wedo__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde deserunt ab magni veniam omnis hic. Esse iusto, at neque ad ipsam quasi perferendis placeat, dicta natus aliquam aliquid nulla labore?</div>

    
    <iframe width="420" height="315"
        src="https://www.youtube.com/embed/KEr2sqmVh2A">
    </iframe>

    <div class="section__sticky">Groundwork 10 Capabilites</div>
    <div class="section-secondary__sticky">in football business and culture</div>


    <div class="row">
        <div class="column--left">
            <div class="img--left">
        <img src="https://webkit.org/demos/srcset/image-src.png" alt="">
            </div>
        </div>

        <div class="column">
        <div class="content__title--right">Strategy & Research</div>
        <div class="content__list">
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
        </div>
    </div>
    </div>




    <div class="row">
        <div class="column--right">
            <div class="img--right">
        <img src="https://webkit.org/demos/srcset/image-src.png" alt="">
            </div>
        </div>

    <div class="column__right">
        <div class="content__title--left">Strategy & Research</div>
        <div class="content__list">
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
            <li class="content">Lorem, ipsum.</li>
        </div>
    </div>
    </div>
</body>
</html>