<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>Document</title>


</head>
<body>
    <ul>
        <li class="navbar"><a href="default.asp">Home</a></li>
        <li class="navbar"><a href="news.asp">News</a></li>
        <li class="navbar"><a href="contact.asp">Contact</a></li>
        <li class="navbar"><a href="about.asp">About</a></li>
    </ul>

    <div class="Wedo">Wedo</div>
        <div class="Wedo-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde deserunt ab magni veniam omnis hic. Esse iusto, at neque ad ipsam quasi perferendis placeat, dicta natus aliquam aliquid nulla labore?</div>

    
    <iframe width="420" height="315"
        src="https://www.youtube.com/watch?v=KEr2sqmVh2A">
    </iframe>
</body>
</html>